<aside>
   <h2>Noticias</h2>
   <article class="card-news">
      <h3>Estrenos de esta semana</h3>
      <p>Explora los nuevos episodios que han llegado a AnimeGalaxy.</p>
   </article>
   <article class="card-news">
      <h3>Nuevas licencias</h3>
      <p>Se han añadido títulos populares recientemente licenciados.</p>
   </article>
   <article class="card-news">
      <h3>Actualización de reproductor</h3>
      <p>Ahora puedes disfrutar de un streaming más fluido y en HD.</p>
   </article>
</aside>