<nav class="menu">

   <a href="index.html" id="logo">
      <!-- <img src="images/logo.webp" alt="logo de AnimeGalaxy"> -->
   </a>

   <ul>
      <li><a href="index.html?categoria=top100">Top 100</a></li>
      <li><a href="index.html?categoria=mejorCalificados">Recomendados</a></li>
      <li><a href="index.html?categoria=ongoing">En Emisión</a></li>
      <li><a href="index.html?categoria=random">Aleatorio</a></li>
   </ul>

   <form class="buscar" id="buscarForm">
      <input type="text" id="animeInput" placeholder="Buscar anime..." name="busqueda">
      <button type="submit">
         <!-- <img src="icons/lupa.png" alt="Buscar" style="height: 20px;"> -->
      </button>
   </form>

   <div class="login-boton">
      <a href="html/login.html">
         <img src="icons/usuario.png" alt="login">
      </a>
   </div>
</nav>