:root {
   --main-accent: #FF4757; 
   --secondary-accent: #4BCFFA;
   --main-bg: #F8F8F8;
   --dark-bg: #141414;
   --secondary-bg: #333333;
   --secondary-dark-bg: #1f1f1f;
   --text-color: #1F1F1F;
   --highlight-color: #FFA07A;
}
*{
   margin: 0;
   padding: 0;
}
main{
   flex-shrink: 1;
   padding: 0px;
}
#login{
   padding: 2rem;
   margin: 1rem 0.5rem;
   width: 400px;  
   font-size: 1.25rem;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   box-shadow: 0 0 10px -4px var(--main-accent);
   gap: 1rem;
   border-radius: 0.5rem;
}
button{
   padding: 0.5rem 0.75rem;
   color: var(--main-bg);
   background-color: var(--secondary-accent);

   border-radius: 0.75rem;
   border: none;
   cursor: pointer;
   transition: all 0.2s linear;
}

button:hover{
   transform: scale(1.05);
   background-color: var(--highlight-color);
}
input{
   padding: 0.5rem;
   border-radius: 0.5rem;
   border: 1px solid var(--main-accent);
}
main a{
   text-decoration: none;
   margin: 0.5rem 0;
}
